################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Generators/bin
/Generators/obj
/obj
/bin
/Test/bin
/Test/obj
