################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.apikey

# Build output
**/bin/
**/obj/

# Test results (exclude test run artifacts, but keep generated source files for inspection)
/Test/TestResults/*.trx
/Test/TestResults/*.xml
/Test/TestResults/*.coverage

# NuGet packages (don't commit built packages)
/nupkg/

# Visual Studio
/.vs/
**/.vs/
