<nav class="sidebar">
    <NavLink href="" Match="NavLinkMatch.All">PE Viewer</NavLink>
    <NavLink href="packet">Network Packet</NavLink>
    <NavLink href="cpu">CPU Register Lab</NavLink>
    <NavLink href="rfc">RFC Diagram</NavLink>
</nav>
