<nav class="sidebar">
    <NavLink href="" Match="NavLinkMatch.All">RFC Diagram</NavLink>
    <NavLink href="pe">PE Viewer</NavLink>
    <NavLink href="packet">Network Packet</NavLink>
    <NavLink href="cpu">CPU Register Lab</NavLink>
    <NavLink href="stream">&#x1F6F0; Composable FP Stream</NavLink>
</nav>
